# Veri Bilimi İçin İstatistik

## Örnek Teorisi

In [1]:
import numpy as np

populasyon = np.random.randint(0, 80, 10000)

In [2]:
populasyon[0:10]

array([23, 30, 43, 74, 56, 66, 51, 58, 35, 13])

In [3]:
# örneklem Çekme 
np.random.seed(10)
orneklem = np.random.choice(a = populasyon, size = 100)
orneklem[0:10]

array([48, 34, 56, 58, 57, 57,  2, 70, 66, 25])

In [4]:
orneklem.mean()

45.35

In [5]:
populasyon.mean()

39.704

In [6]:
# örneklem dağılımı
np.random.seed(10)
orneklem1 = np.random.choice(a= populasyon,size = 100)
orneklem2 = np.random.choice(a= populasyon,size = 100)
orneklem3 = np.random.choice(a= populasyon,size = 100)
orneklem4 = np.random.choice(a= populasyon,size = 100)
orneklem5 = np.random.choice(a= populasyon,size = 100)
orneklem6 = np.random.choice(a= populasyon,size = 100)
orneklem7 = np.random.choice(a= populasyon,size = 100)
orneklem8 = np.random.choice(a= populasyon,size = 100)
orneklem9 = np.random.choice(a= populasyon,size = 100)
orneklem10 = np.random.choice(a= populasyon,size = 100)

In [7]:
orneklemler= (orneklem1.mean() + orneklem2.mean() + orneklem3.mean() + orneklem4.mean() +
orneklem5.mean() + orneklem6.mean() + orneklem7.mean() + orneklem8.mean() + orneklem9.mean() + orneklem10.mean()) / 10

print(f"orneklemler", orneklemler)
print("populasyon ortalaması",populasyon.mean())

orneklemler 40.117999999999995
populasyon ortalaması 39.704

## Betimsel İstatistiskler

In [8]:
import seaborn as sns

In [9]:
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [11]:
!pip install researchpy
import researchpy as rp

Requirement already satisfied: researchpy in d:\anaconda3\lib\site-packages (0.3.5)
Requirement already satisfied: pandas in d:\anaconda3\lib\site-packages (from researchpy) (1.5.3)
Requirement already satisfied: patsy in d:\anaconda3\lib\site-packages (from researchpy) (0.5.3)
Requirement already satisfied: scipy in d:\anaconda3\lib\site-packages (from researchpy) (1.10.0)
Requirement already satisfied: numpy in d:\anaconda3\lib\site-packages (from researchpy) (1.23.5)
Requirement already satisfied: statsmodels in d:\anaconda3\lib\site-packages (from researchpy) (0.13.5)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda3\lib\site-packages (from pandas->researchpy) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: six in d:\anaconda3\lib\site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in d:\anaconda3\lib\site-packages (from statsmodels->researchpy) (22.0)

In [12]:
import warnings

warnings.filterwarnings("ignore",category=FutureWarning)

rp.summary_cont(df[["total_bill","tip","size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [13]:
rp.summary_cat(df[["sex","smoker","day","time"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79
8     time  Dinner    176    72.13
9            Lunch     68    27.87

In [14]:
df[["total_bill","tip"]].cov()

            total_bill       tip
total_bill   79.252939  8.323502
tip           8.323502  1.914455

In [15]:
df[["total_bill","tip"]].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

 # iş uygulaması: Fiyat Strajisi Karar Destek

In [17]:
import numpy as np
import statsmodels.stats.api as sms 

# 1000 tane fiyat üretelim
prices = np.random.randint(10,110,1000)

print(f"ortlama fiyat: {prices.mean()}") # fiyatların ortalaması

# Güven aralığı hesaplanması
sms.DescrStatsW(prices).tconfint_mean()
print(sms.DescrStatsW(prices).tconfint_mean())

ortlama fiyat: 60.317
(58.54670439203609, 62.08729560796391)

## Bernoulli Dağılımı

${\displaystyle f(k;p)=p^{k}(1-p)^{1-k}\quad {\text{for }}k\in \{0,1\}}$


${\displaystyle \operatorname {E} \left(X\right)=p}$

$\operatorname {Var} [X]=pq=p(1-p)$

In [18]:
from scipy.stats import bernoulli

In [22]:
p = 0.6 # olasılık
rv = bernoulli(p) # rassal değişken
rv.pmf(k = 0) # k = 0 olasılığı

0.4

## Büyük Sayılar Yasası

Bir Rassal degişkenin uzun vadeli kararlılığını tanımlayan olasilik teoremidir.

In [23]:
import numpy as np

rng = np.random.RandomState(123)
for i in np.arange(1, 21):
    deney_sayisi = 2 ** i
    yazi_turalar = rng.randint(0, 2, size = deney_sayisi)
    yazi_olasiliklari = np.mean(yazi_turalar)
    print("Atış Sayısı:", deney_sayisi, "----", "Yazı Olasılığı: %.2f" % (yazi_olasiliklari * 100))

Atış Sayısı: 2 ---- Yazı Olasılığı: 50.00
Atış Sayısı: 4 ---- Yazı Olasılığı: 0.00
Atış Sayısı: 8 ---- Yazı Olasılığı: 62.50
Atış Sayısı: 16 ---- Yazı Olasılığı: 43.75
Atış Sayısı: 32 ---- Yazı Olasılığı: 46.88
Atış Sayısı: 64 ---- Yazı Olasılığı: 56.25
Atış Sayısı: 128 ---- Yazı Olasılığı: 50.78
Atış Sayısı: 256 ---- Yazı Olasılığı: 52.73
Atış Sayısı: 512 ---- Yazı Olasılığı: 52.93
Atış Sayısı: 1024 ---- Yazı Olasılığı: 50.20
Atış Sayısı: 2048 ---- Yazı Olasılığı: 48.58
Atış Sayısı: 4096 ---- Yazı Olasılığı: 49.49
Atış Sayısı: 8192 ---- Yazı Olasılığı: 49.58
Atış Sayısı: 16384 ---- Yazı Olasılığı: 49.96
Atış Sayısı: 32768 ---- Yazı Olasılığı: 50.00
Atış Sayısı: 65536 ---- Yazı Olasılığı: 49.68
Atış Sayısı: 131072 ---- Yazı Olasılığı: 49.97
Atış Sayısı: 262144 ---- Yazı Olasılığı: 50.13
Atış Sayısı: 524288 ---- Yazı Olasılığı: 50.01
Atış Sayısı: 1048576 ---- Yazı Olasılığı: 50.09